{{ api_host }} {
    reverse_proxy 127.0.0.1:8035
}

{{ grafana_host }} {
    basicauth {
		gempir JDJhJDE0JFdxcUZXSUFmWUJCdU9WeFpuRy81VWU0RHRraFd3aWJFQ1RCRm1JVGVOdWFsckJhWHFDMVZL
	}

    reverse_proxy 127.0.00.1:4010
} 