.idea

.ansible-vault-password

config.json

dump.rdb

services/api/api
services/ingester/ingester
services/speaker/speaker
services/commander/commander

web/node_modules/
# Local Netlify folder
.netlify