{
    "admin": "gempir",
    "username": "justinfan123123",
    "oauth": "oauth:tokenforchat",
    "clientId": "sdfjhasldkjfha",
    "clientSecret": "12312asdasd",
    "logLevel": "info",
    "secret:" "api-secret-for-webhooks",
    "bttvToken: "",
    "apiBaseUrl": "https://123.ngrok.io",
    "channels": ["77829817", "11148817", "114745759"]
}