{
    "admin": "gempir",
    "username": "justinfan123123",
    "oauth": "oauth:tokenforchat",
    "clientId": "sdfjhasldkjfha",
    "clientSecret": "12312asdasd",
    "logLevel": "info",
    "secret": "api-secret-for-webhooks",
    "bttvToken": "",
    "webhookApiBaseUrl": "https://123.ngrok.io",
    "apiBaseUrl": "http://localhost:8035",
    "webBaseUrl": "http://localhost:3000",
    "sqliteDatabase": "../../data.db",
    "cookieDomain": "localhost",
    "postgresUsername": "bitraft",
    "postgresPassword": "somefancypassword",
    "channels": ["77829817", "11148817", "114745759"]
}