#!/bin/bash

LOKI_PROMTAIL_VERSION="{{ loki_promtail_version }}"
cd {{ loki_base_dir }}
wget  https://github.com/grafana/loki/releases/download/v${LOKI_PROMTAIL_VERSION}/promtail-linux-amd64.zip
sudo service promtail stop
unzip promtail-linux-amd64.zip
sudo chown -R {{ loki_user }}:root {{ loki_base_dir }}/promtail-linux-amd64
sudo chmod +x {{ loki_base_dir }}/promtail-linux-amd64
#             Source                                  Link
sudo ln -f -s {{ loki_base_dir }}/promtail-linux-amd64 {{ loki_base_dir }}/promtail
sudo service loki start
