body {
    position: relative;
    margin: 0;
    padding: 0;
    background: var(--background);
    font-family: Helvetica, Arial, sans-serif;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    width: 100%;
}


