.Record {
    h2 {
        color: var(--text);
        margin: 0 0 5px;
    }

    ol {
        color: white;
        font-size: 2rem;
        font-weight: bold;
        width: 500px;
        padding: 10px;
        margin: 0;
        margin-right: 15px;
        background: var(--lightBackground);
        border: 1px solid var(--lightBorder);
        border-radius: 3px;

        li {
            display: flex;
            align-items: center;

            img {
                margin-right: 10px;
            }

            .value {
                text-align: right;
                flex: 1 1 auto;
            }
        }
    }
}
