default_server = "local-prod"

[[server_configs]]
nickname = "local-prod"
host = "127.0.0.1:3333"
protocol = "http"
ecdsa_public_key = """
-----BEGIN PUBLIC KEY-----
MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAE7Gwu9WZuHjDKcAzJrqGrNYBDD4R+
GOXOJ1VbkD0ceRTk3XS2dhsQe72v5eIGatZNnU10QaO0YYNttrWFQ2Jx9Q==
-----END PUBLIC KEY-----
"""
