:root {
    --text: rgb(250, 250, 250);
    --lighterBackground: #616161;
    --lightBackground: #414141;
    --background: #212121;
    --lightBorder: #666666;
    --highlight: #3498db;
    --positive: #2ecc71;
}
