{
    "username": "justinfan123123",
    "oauth": "oauthtokenforchat",
    "admin": "gempir",
    "channels": ["77829817"],
    "clientId": "{{ clientId }}",
    "clientSecret": "{{ clientSecret }}",
    "logLevel": "info"
}