[Unit]
Description=spamchampbot
After=network.target
StartLimitBurst=10

[Service]
Restart=always
RestartSec=5
ExecStart=/home/spamchampbot/bot --config /etc/spamchamp/bot_config.json

[Install]
WantedBy=multi-user.target