{% if caddy_global_config_options %}
{
    {% for opt in caddy_global_config_options %}
    {{ opt }}
    {% endfor %}
}
{% endif %}
:{{ caddy_default_port }} {
    root * {{ caddy_root }}
    file_server
}

import conf.d/*
{# Refer to the Caddy docs for more information:
https://caddyserver.com/docs/caddyfile #}
