{
    "username": "gempbot",
    "oauth": "{{ botOauth }}",
    "admin": "gempir",
    "channels": ["77829817"],
    "clientId": "{{ clientId }}",
    "clientSecret": "{{ clientSecret }}",
    "secret": "{{ apiSecret }}",
    "bttvToken": "{{ bttvToken }}",
    "httpBaseUrl": "https://{{ web_host }}",
    "logLevel": "info"
}