{
    "username": "gempbot",
    "oauth": "{{ botOauth }}",
    "admin": "gempir",
    "channels": ["77829817"],
    "clientId": "{{ clientId }}",
    "clientSecret": "{{ clientSecret }}",
    "secret": "{{ apiSecret }}",
    "bttvToken": "{{ bttvToken }}",
    "apiBaseUrl": "https://{{ api_host }}",
    "webhookApiBaseUrl": "https://{{ api_host }}",
    "webBaseUrl": "https://{{ web_host }}",
    "cookieDomain": "{{ cookie_domain }}",
    "sqliteDatabase": "/var/bitraft/data.db",
    "logLevel": "info"
}