{
    "username": "gempbot",
    "oauth": "{{ botOauth }}",
    "admin": "gempir",
    "channels": ["77829817"],
    "clientId": "{{ clientId }}",
    "clientSecret": "{{ clientSecret }}",
    "secret": "{{ apiSecret }}",
    "bttvToken": "{{ bttvToken }}",
    "apiBaseUrl": "https://{{ api_host }}",
    "webhookApiBaseUrl": "https://{{ api_host }}",
    "webBaseUrl": "https://{{ web_host }}",
    "cookieDomain": "{{ cookie_domain }}",
    "postgresUsername": "bitraft",
    "postgresPassword": "{{ bitraft_postgres_password }}"
    "logLevel": "debug"
}