{
    "admin": "gempir",
    "username": "justinfan123123",
    "oauth": "oauthtokenforchat",
    "clientID": "sdfjhasldkjfha",
    "logLevel": "info",
    "channels": ["77829817", "11148817", "114745759"]
}