- name: Remove old Caddy GPG key
  file:
    path: /usr/share/keyrings/caddy-stable-archive-keyring.gpg
    state: absent

- name: Download and dearmor Caddy GPG key
  shell: |
    curl -fsSL https://dl.cloudsmith.io/public/caddy/stable/gpg.key | gpg --dearmor -o /usr/share/keyrings/caddy-stable-archive-keyring.gpg
  args:
    creates: /usr/share/keyrings/caddy-stable-archive-keyring.gpg

- name: Add Repository
  apt_repository:
    repo: "deb [signed-by=/usr/share/keyrings/caddy-stable-archive-keyring.gpg] https://dl.cloudsmith.io/public/caddy/stable/deb/debian any-version main"
    state: "present"

- name: Add Src Repository
  apt_repository:
    repo: "deb-src [signed-by=/usr/share/keyrings/caddy-stable-archive-keyring.gpg] https://dl.cloudsmith.io/public/caddy/stable/deb/debian any-version main"
    state: "present"

- name: Install
  apt:
    name: caddy
    state: present

- name: Permissions
  file:
    path: /etc/caddy
    owner: caddy
    group: caddy
    mode: 0770
    state: directory

- name: Install config
  template:
    src: templates/Caddyfile.j2
    dest: /etc/caddy/Caddyfile
    owner: caddy
    group: caddy
    mode: 0660
  notify: restart caddy
