[Unit]
Description=gempbot-yjs
After=network.target
StartLimitBurst=10

[Service]
Restart=always
RestartSec=5
ExecStart=/home/gempbot/web/yjs/server.js
WorkingDirectory=/home/gempbot/web
Environment=NODE_ENV=production
Environment=YPERSISTENCE=/home/gempbot/yjs_db
Environment=HOST=127.0.0.1
Environment=PORT=1234

[Install]
WantedBy=multi-user.target