name: Test and coverage

on: [push]

jobs:
  go-ci:
    name: Go Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 2
      - uses: actions/setup-go@v2
        with:
          go-version: "1.21"
      - name: Run coverage
        run: go test -race -coverprofile=coverage.out -covermode=atomic ./internal/...
      - name: Upload coverage to Codecov
        run: bash <(curl -s https://codecov.io/bash)

  web-ci:
    name: Web Tests and Build
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./web

    steps:
      - uses: actions/checkout@v2

      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Run Biome
        run: bun run check

      - name: Build application
        run: bun run build
