name: Test and coverage

on: [push]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 2
      - uses: actions/setup-go@v2
        with:
          go-version: "1.21"
      - name: Run coverage
        run: go test -race -coverprofile=coverage.out -covermode=atomic ./internal/...
      - name: Upload coverage to Codecov
        run: bash <(curl -s https://codecov.io/bash)

      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest
      - name: Install dependencies
        run: cd web && bun install
      - name: Run Biome lint
        run: cd web && bun run lint
      - name: Check Biome formatting
        run: cd web && bun run format
